<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="cspnlib;webbrowerlib" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--配置数据库的连接字符串-->
    <add name="connectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Database\CSPN.mdb" />
  </connectionStrings>
  <appSettings>
    <!--配置数据库的名称-->
    <!--<add key="ConnectionName" value="SQLServer" />-->
    <add key="ConnectionName" value="Access" />
    <!--默认地址-->
    <add key="DefaultLocation" value="山西省,太原市,尖草坪区;15;112.539272,37.95998" />
    <!--系统设置-->
    <add key="PortName" value="COM8" />
    <add key="BaudRate" value="9600" />
    <add key="TSX" value="62-EE-64-BB-24-15-7D-A6-0B-D2-C5-27-C2-C7-91-6D" />
    <!--<add key="TSX" value="2F-6F-1F-60-1B-B7-6E-C8-BA-FF-70-CE-0E-3F-73-45" />-->
    <add key="SysLogTime" value="5" />
    <add key="UserLogTime" value="5" />
    <add key="NotReportTimes" value="5" />
    <add key="RefreshTime" value="1" />
  </appSettings>
  <!--log4net-->
  <log4net>
    <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
    <logger name="ApplicationLog">
      <level value="ALL" />
      <appender-ref ref="ApplicationLogAppender" />
    </logger>
    <logger name="QuartzLog">
      <level value="ALL" />
      <appender-ref ref="QuartzLogAppender" />
    </logger>
    <appender name="ApplicationLogAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="log\ApplicationLog\" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--备份文件的个数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--单个日志文件的最大大小-->
      <param name="MaximumFileSize" value="10MB" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--文件创建的方式，这里是以Date方式创建-->
      <param name="RollingStyle" value="Date" />
      <!--日志布局-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="QuartzLogAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="log\QuartzLog\" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--备份文件的个数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--单个日志文件的最大大小-->
      <param name="MaximumFileSize" value="10MB" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--文件创建的方式，这里是以Date方式创建-->
      <param name="RollingStyle" value="Date" />
      <!--日志布局-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>